{% extends "base.html.twig" %}

{% block title %}
	Thomas DOUMENG - Séance photo sur circuit moto
{% endblock %}

{% block body %}
	<!-- CONTENT -->
	<div class="container">
		<div class="row justify-content-between">
			<div
				class="col-12 col-md-4 position-md-sticky d-flex align-items-center vh-md-100" style="top: 0;">

				<!-- Sidebar -->
				<aside
					class="py-8 py-md-10">

					<!-- Text -->
					<h2 class="fs-lg mb-7 text-muted">
						Séance photo sur circuit moto
					</h2>

					<!-- List group -->
					<ul class="list-group list-group-flush">
						<li
							class="list-group-item">

							<!-- Heading -->
							<h6 class="d-flex mb-0 text-uppercase">
								Date
								<span class="ms-auto">22/01/2022</span>
							</h6>

						</li>
						<li
							class="list-group-item">

							<!-- Heading -->
							<h6 class="d-flex mb-0 text-uppercase">
								Catégorie
								<span class="ms-auto">Moto</span>
							</h6>

						</li>
						<li
							class="list-group-item">

							<!-- Heading -->
							<h6 class="d-flex mb-0 text-uppercase">
								Lieu
								<span class="ms-auto">Toulouse</span>
							</h6>

						</li>
					</ul>

				</aside>

			</div>
			<div
				class="col-12 col-md-7">

				<!-- Images -->
				<section class="pb-8 pt-md-12 pb-md-10">
					<a class="d-block" data-bigpicture='{"imgSrc": "https://picsum.photos/2010/3010"}' href="#">
						<img class="img-fluid rounded" src="https://picsum.photos/2010/3010" alt="...">
					</a>
					<a class="d-block mt-7" data-bigpicture='{"imgSrc": "https://picsum.photos/2010/3010"}' href="#">
						<img class="img-fluid rounded" src="https://picsum.photos/2010/3010" alt="...">
					</a>
					<a class="d-block mt-7" data-bigpicture='{"imgSrc": "https://picsum.photos/200/300"}' href="#">
						<img class="img-fluid rounded" src="https://picsum.photos/2100/3100" alt="...">
					</a>
					<a class="d-block mt-7" data-bigpicture='{"imgSrc": "https://picsum.photos/2010/3100"}' href="#">
						<img class="img-fluid rounded" src="https://picsum.photos/2001/3100" alt="...">
					</a>
					<a class="d-block mt-7" data-bigpicture='{"imgSrc": "https://picsum.photos/2100/3010"}' href="#">
						<img class="img-fluid rounded" src="https://picsum.photos/2010/3001" alt="...">
					</a>
				</section>

			</div>
		</div>
	</div>

	<!-- RELATED -->
	<section class="pt-7 pt-md-10 bg-light">
		<div class="container">
			<div class="row align-items-center mb-5">
				<div
					class="col-12 col-md">

					<!-- Heading -->
					<h3 class="mb-0">
						Derniers projets
					</h3>

					<!-- Text -->
					<p class="mb-0 text-muted">
						Dans la même catégorie.
					</p>

				</div>
				<div
					class="col-12 col-md-auto">

					<!-- Button -->
					<a href="{{path('portfolio')}}" class="btn btn-sm btn-outline-gray-300 d-none d-md-inline">
						Voir tous
					</a>

				</div>
			</div>
			<!-- / .row -->
			<div class="row">
				<div
					class="col-12 col-md-6 col-lg-4 d-flex">

					<!-- Card -->
					<a
						class="card mb-6 mb-lg-0 shadow-light-lg" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img-top" src="https://picsum.photos/2000/3000" alt="...">
						</div>

						<!-- Body -->
						<div
							class="card-body">

							<!-- Shape -->
							<div class="shape shape-bottom-100 shape-fluid-x text-white">
								<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
							</div>

							<!-- Preheading -->
							<h6 class="text-uppercase mb-1 text-muted">Branding</h6>

							<!-- Heading -->
							<h4 class="mb-0">Curology Campaign</h4>

						</div>

					</a>

				</div>
				<div
					class="col-12 col-md-6 col-lg-4 d-flex">

					<!-- Card -->
					<a
						class="card mb-6 mb-lg-0 shadow-light-lg" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img-top" src="https://picsum.photos/2010/3001" alt="...">
						</div>

						<!-- Body -->
						<div
							class="card-body">

							<!-- Shape -->
							<div class="shape shape-bottom-100 shape-fluid-x text-white">
								<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
							</div>

							<!-- Preheading -->
							<h6 class="text-uppercase mb-1 text-muted">Branding</h6>

							<!-- Heading -->
							<h4 class="mb-0">Honest Packaging</h4>

						</div>

					</a>

				</div>
				<div
					class="col-12 col-md-6 col-lg-4 d-flex">

					<!-- Card -->
					<a
						class="card d-md-none d-lg-flex shadow-light-lg" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img-top" src="https://picsum.photos/200/300" alt="...">
						</div>

						<!-- Body -->
						<div
							class="card-body">

							<!-- Shape -->
							<div class="shape shape-bottom-100 shape-fluid-x text-white">
								<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
							</div>

							<!-- Preheading -->
							<h6 class="text-uppercase mb-1 text-muted">Ideation</h6>

							<!-- Heading -->
							<h4 class="mb-0">Doodle Pad</h4>

						</div>

					</a>

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</section>
{% endblock %}
