{% extends 'base.html.twig' %}

{% block title %}Portfolio - Thomas DOUMENG - Photographe
{% endblock %}

{% block body %}
	<!-- WELCOME -->
	<section data-jarallax data-speed=".8" class="pt-12 pt-md-14 pb-12 pb-md-15 overlay overlay-black overlay-60 bg-cover jarallax" style="margin-top: -87px; background-image: url(assets/img/covers/cover-3.jpg);">
		<div class="container">
			<div class="row justify-content-center">
				<div
					class="col-12 col-md-10 col-lg-7 text-center">

					<!-- Headin -->
					<h1 class="display-2 fw-bold text-white">
						Portfolio
					</h1>

					<!-- Text -->
					<p class="lead text-white-75 mb-4">
						Retrouvez mes différents shottings photos
					</p>

					<!-- Badges -->
					<nav class="nav justify-content-center">
						<a class="badge rounded-pill bg-white-soft active me-1 mb-1" href="#" data-bs-toggle="pill" data-filter="*" data-bs-target="#portfolio">
							<span class="h6 text-uppercase">Tous</span>
						</a>
						<a class="badge rounded-pill bg-white-soft me-1 mb-1" href="#" data-bs-toggle="pill" data-filter=".moto" data-bs-target="#portfolio">
							<span class="h6 text-uppercase">Moto</span>
						</a>
						<a class="badge rounded-pill bg-white-soft me-1 mb-1" href="#" data-bs-toggle="pill" data-filter=".voiture" data-bs-target="#portfolio">
							<span class="h6 text-uppercase">Voiture</span>
						</a>
						<a class="badge rounded-pill bg-white-soft me-1 mb-1" href="#" data-bs-toggle="pill" data-filter=".paysage" data-bs-target="#portfolio">
							<span class="h6 text-uppercase">Paysage</span>
						</a>
						<a class="badge rounded-pill bg-white-soft me-1 mb-1" href="#" data-bs-toggle="pill" data-filter=".mariage" data-bs-target="#portfolio">
							<span class="h6 text-uppercase">Mariage</span>
						</a>
					</nav>

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</section>

	<!-- SHAPE -->
	<div class="position-relative">
		<div class="shape shape-bottom shape-fluid-x text-light">
			<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
		</div>
	</div>

	<!-- CONTENT -->
	<section class="py-8 py-md-11 mt-n10 mt-md-n14">
		<div class="container">
			<div class="row" id="portfolio" data-isotope='{"layoutMode": "masonry"}'>
				<div
					class="col-12 col-md-4 mariage">

					<!-- Card -->
					<a
						class="card shadow-light-lg mb-7" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="https://picsum.photos/200/300" alt="...">
						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div
								class="card-body bg-white">

								<!-- Shape -->
								<div class="shape shape-bottom-100 shape-fluid-x text-white">
									<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
								</div>

								<!-- Preheading -->
								<h6 class="text-uppercase mb-1 text-muted">Branding</h6>

								<!-- Heading -->
								<h4 class="mb-0">Curology Any Face Campaign</h4>

							</div>
						</div>

					</a>

				</div>
				<div
					class="col-12 col-md-4 moto">

					<!-- Card -->
					<a
						class="card shadow-light-lg mb-7" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="https://picsum.photos/200/300" alt="...">
						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div
								class="card-body bg-white">

								<!-- Shape -->
								<div class="shape shape-bottom-100 shape-fluid-x text-white">
									<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
								</div>

								<!-- Preheading -->
								<h6 class="text-uppercase mb-1 text-muted">Branding</h6>

								<!-- Heading -->
								<h4 class="mb-0">Honest Packaging</h4>

							</div>
						</div>

					</a>

				</div>
				<div
					class="col-12 col-md-4 moto">

					<!-- Card -->
					<a
						class="card shadow-light-lg mb-7" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="https://picsum.photos/200/300" alt="...">
						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div
								class="card-body bg-white">

								<!-- Shape -->
								<div class="shape shape-bottom-100 shape-fluid-x text-white">
									<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
								</div>

								<!-- Preheading -->
								<h6 class="text-uppercase mb-1 text-muted">Branding</h6>

								<!-- Heading -->
								<h4 class="mb-0">Larq Bright Campaign</h4>

							</div>
						</div>

					</a>

				</div>
				<div
					class="col-12 col-md-4 voiture">

					<!-- Card -->
					<a
						class="card shadow-light-lg mb-7" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="https://picsum.photos/200/200" alt="...">
						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div
								class="card-body bg-white">

								<!-- Shape -->
								<div class="shape shape-bottom-100 shape-fluid-x text-white">
									<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
								</div>

								<!-- Preheading -->
								<h6 class="text-uppercase mb-1 text-muted">Branding</h6>

								<!-- Heading -->
								<h4 class="mb-0">Larq Earthtones Collection</h4>

							</div>
						</div>

					</a>

				</div>
				<div
					class="col-12 col-md-4 mariage">

					<!-- Card -->
					<a
						class="card shadow-light-lg mb-7" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="https://picsum.photos/400/300" alt="...">
						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div
								class="card-body bg-white">

								<!-- Shape -->
								<div class="shape shape-bottom-100 shape-fluid-x text-white">
									<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
								</div>

								<!-- Preheading -->
								<h6 class="text-uppercase mb-1 text-muted">Product Design</h6>

								<!-- Heading -->
								<h4 class="mb-0">Goby Packaging
								</h4>

							</div>
						</div>

					</a>

				</div>
				<div
					class="col-12 col-md-4 mariage">

					<!-- Card -->
					<a
						class="card shadow-light-lg mb-7" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="https://picsum.photos/200/300" alt="...">
						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div
								class="card-body bg-white">

								<!-- Shape -->
								<div class="shape shape-bottom-100 shape-fluid-x text-white">
									<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
								</div>

								<!-- Preheading -->
								<h6 class="text-uppercase mb-1 text-muted">Ideation</h6>

								<!-- Heading -->
								<h4 class="mb-0">Doodle Pads</h4>

							</div>
						</div>

					</a>

				</div>
				<div
					class="col-12 col-md-4 product">

					<!-- Card -->
					<a
						class="card shadow-light-lg mb-7" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="https://picsum.photos/200/300" alt="...">
						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div
								class="card-body bg-white">

								<!-- Shape -->
								<div class="shape shape-bottom-100 shape-fluid-x text-white">
									<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
								</div>

								<!-- Preheading -->
								<h6 class="text-uppercase mb-1 text-muted">Product Design</h6>

								<!-- Heading -->
								<h4 class="mb-0">Larq Bottle Redesign</h4>

							</div>
						</div>

					</a>

				</div>
				<div
					class="col-12 col-md-4 ux">

					<!-- Card -->
					<a
						class="card shadow-light-lg mb-7" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="https://picsum.photos/200/300" alt="...">
						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div
								class="card-body bg-white">

								<!-- Shape -->
								<div class="shape shape-bottom-100 shape-fluid-x text-white">
									<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
								</div>

								<!-- Preheading -->
								<h6 class="text-uppercase mb-1 text-muted">Product Exploration</h6>

								<!-- Heading -->
								<h4 class="mb-0">Goby Brush Prototype</h4>

							</div>
						</div>

					</a>

				</div>
				<div
					class="col-12 col-md-4 ux">

					<!-- Card -->
					<a
						class="card shadow-light-lg mb-7" href="#!">

						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="https://picsum.photos/200/300" alt="...">
						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div
								class="card-body bg-white">

								<!-- Shape -->
								<div class="shape shape-bottom-100 shape-fluid-x text-white">
									<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
								</div>

								<!-- Preheading -->
								<h6 class="text-uppercase mb-1 text-muted">Branding</h6>

								<!-- Heading -->
								<h4 class="mb-0">Trek Ride Campaign</h4>

							</div>
						</div>

					</a>

				</div>
			</div>
		</div>
	</section>
{% endblock %}
