<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
	<div
		class="container">

		<!-- Brand -->
		<a class="navbar-brand" href="{{path("home")}}">
			TheSuspectdg
		</a>

		<!-- Toggler -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapse -->
		<div
			class="collapse navbar-collapse" id="navbarCollapse">

			<!-- Toggler -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fe fe-x"></i>
			</button>

			<!-- Navigation -->
			<ul class="navbar-nav ms-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
						Catégorie
					</a>
					<div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
						<div class="row gx-0">
							<div class="col-6 col-lg-6">
								<div class="dropdown-img-start" style="background-image: url(https://picsum.photos/200/300);"></div>
							</div>
							<div class="col-6 col-lg-6">
								<div class="dropdown-body">
									<div class="row gx-0">
										<div
											class="col-6">
											<!-- Heading -->
											<h6 class="dropdown-header">
												Catégorie
											</h6>

											<!-- List -->
											<a class="dropdown-item" href="./index.html">
												Moto
											</a>
											<a class="dropdown-item" href="./startup.html">
												Voiture
											</a>
											<a class="dropdown-item" href="./enterprise.html">
												Mariage
											</a>
											<a class="dropdown-item" href="./service.html">
												Portrait
											</a>
											<a class="dropdown-item" href="/">
												Paysage
											</a>
										</div>
									</div>
									<!-- / .row -->
								</div>
							</div>
						</div>
						<!-- / .row -->
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ path('portfolio') }}" aria-haspopup="true" aria-expanded="false">
						Portfolio
					</a>
					<!-- / .row -->
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" aria-haspopup="true" aria-expanded="false">
						Materiel
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" aria-haspopup="true" aria-expanded="false">
						Réservation
					</a>
				</li>
			</ul>

			<!-- Button -->
			<a class="navbar-btn btn btn-sm btn-primary lift ms-auto" data-bs-toggle="modal" href="#modalSignInHorizontal">
				Connexion
			</a>

		</div>

	</div>
</nav>
